body{
  /*Color de fondo degradado*/
  /* Para buscadores que no soporten degradados*/
  background-color: #eeeeee;
  background-image: linear-gradient(to left, #560764, #eeeeee);
}
.contenedorPrincipal{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenido {
  text-align: center;
}
