body{
  /*Color de fondo degradado*/
  /* Para buscadores que no soporten degradados*/
  background-color: #eeeeee;
  background-image: linear-gradient(to left, #560764, #eeeeee);
}
a {
  height: 100%;
  width: 30%;
}
.box{
  display: inline-block;
}
.imagenRegistroInicial {
  margin-left: 70%;
  margin-top: 5%;
  width: 200%;
}
#camposVacios, #nombreIncorrecto, #apellidosIncorrectos, #fechaIncorrecta,
#logintudCorreoIncorrecta, #correoIncorrecto, #longitudPasswordIncorrecta,
#PasswordDistintas, #passwordInsegura, #terminosYCondiciones {
  display: none;
}
#div_terminos_condiciones{
  margin-top: 8%;
}
#contenedorLogoRegistro {
  text-align: center;
}
#contenedorTextoRegistroInicial {
  justify-content: center;
}
#select_ingresar_ciudad{
  height: 150%;
  width: 100%;
}
label {
  font-family: sans-serif;
  font-weight: 600;
}

button {
  height: 120%;
}
#DivBtnCrearCuenta {
  padding: 5%;
}
#DivBtnLimpiar {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 8%;
  padding-right: 8%;
}
#ingresar_nombre, #ingresar_apellidos, #ingresar_fecha_nacimiento,
#ingresar_email, #ingresar_password, #ingresar_password2 {
  border-width: 2px;
}

/*Media-querys*/
@media (min-width: 768px) {
  label {
    text-align: right;
  }
  .imagenRegistroInicial {
    margin-left: 123%;
    margin-top: 4%;
    width: 90%;
  }
  #DivBtnCrearCuenta, #DivBtnLimpiar {
    padding: 5%;
  }
  #textoRegistroInicial {
    font-size: 3em;
  }
  #select_ingresar_ciudad {
    height: 100%;
  }
  #div_terminos_condiciones{
    margin-top: 3%;
  }

}
