#contenedorAnadir {
  /* Para buscadores que no soporten degradados */
  background-color: #d8cbbb;
  background-image: linear-gradient(to bottom, #d8cbbb, #f5eee5);
  margin: 0px;
  /*
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  */  
  min-height: 650px;
}
